{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Review</title>
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}">
  </head>
  <body>
    <form action="{% url 'crud:delete_review' item.id %}" method="POST">
        {% csrf_token %}
      <p>Are your positive you want to delete this entry "{{item}}"?</p>
        <a href="{% url "crud:events" %}">Cancel</a>
        <input type="submit" name="Confirm">
    </form>
  </body>
</html>
